<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <div th:replace="~{/fragments/header.html :: fragment-header}"></div>
        <style>
            .jumbotron {background-color: white !important;}
        </style>
    </head>
<body>
    <div th:replace="~{/fragments/nav.html :: fragment-nav}"></div>
    <th:block layout:fragment="content"></th:block>
    <footer th:replace="~{/fragments/footer.html :: fragment-footer}"></footer>
</body>
</html>